<div id="mission" class="p-16">
  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4 place-content-center place-items-center">
    <div class="hidden md:block">
      <img class="-translate-x-60 -rotate-45 w-72" src="../../../assets/img/patterns/circle-pattern.svg"
        alt="circle-pattern">
    </div>
    <div class="relative">
      <img src="../../../assets/video/iphone-mockup.gif" alt="RD Marketing">
      <!-- <h2 class="font-bold text-[10rem] text-yellow r-position">R</h2>
      <h2 class="font-bold text-[10rem] text-yellow d-position">D</h2> -->
    </div>
    <div class="text-center mt-6 md:mt-0 md:text-left">
      <fa-icon class="text-yellow" size="xl" [icon]="faBullseye"></fa-icon>
      <h3 class="font-semibold text-lg py-2">Misión</h3>
      <p class="max-w-xs">We create world-class websites using modern design practices. Mobile-first websites
        and web
        experiences are
        essential to the success of your web project. </p>
    </div>
    <div class="text-center mt-6 md:mt-0 md:text-left">
      <fa-icon class="text-yellow" size="xl" [icon]="faLightbulb"></fa-icon>
      <h3 class="font-semibold text-lg py-2">Visión</h3>
      <p class="max-w-xs">We create world-class websites using modern design practices. Mobile-first websites
        and web
        experiences are
        essential to the success of your web project. </p>
    </div>
    <div class=""></div>
    <div class="relative w-full hidden md:block">
      <img class="absolute translate-x-60 -translate-y-20 rotate-45 w-[36rem]"
        src="../../../assets/img/patterns/circle-pattern.svg" alt="circle-pattern">
    </div>
  </div>
</div>
