<nav class="bg-onyx text-white h-28 flex flex-row justify-around items-center">
  <div>
    <img class="h-20 transition ease-in-out delay-150 hover:scale-105" src="../../../assets/img/logo/logo-3.png"
      alt="RD Marketing">
  </div>
  <div class="flex flex-row justify-around flex-wrap font-medium ">
    <div class="px-12">
      <a>Nosotros</a>
    </div>
    <div class="px-12">Servicios</div>
    <div class="px-12">Proyectos</div>
  </div>
  <div>
    <button class="px-4 py-2 rounded-3xl bg-gray text-black font-semibold hover:bg-yellow hover:text-white">
      Contacto
    </button>
  </div>
</nav>
