<div id="projects" class="bg-white">
<div class="py-12 md:py-0 md:h-60 flex flex-col md:flex-row justify-around items-center">
    <div *ngFor="let project of projects" class="max-w-[12rem]">
      <h3 class="mb-3 md:mb-0 text-3xl font-bold pt-2 inline" [countUp]="project.count"
        [options]="{ enableScrollSpy: true }">
      </h3>
      <h3 class="text-3xl font-bold inline pl-1">+</h3>
      <hr class="h-4 border-black mt-2">
      <p class="mb-8 md:mb-0 text-[#0B2A59] font-semibold">{{project.name}}</p>
    </div>
  </div>
</div>