<div id="us" class="bg-gradient-to-b from-white via-gray-dark to-white py-32 relative">
  <img class="circle-pattern w-64 md:w-96" src="../../../assets/img/patterns/circle-pattern.svg" alt="circle-pattern">
  <div data-aos="fade-down" class="p-12 md:p-0 md:pl-28 font-medium max-w-xl">
    <p class="text-xl pb-6">Somos una agencia de marketing conformada por asesores profesionales dispuestos a potenciar
      tu
      negocio. </p>
    <a class="text-yellow text-xl cursor-pointer" (click)="scrollToSection('services')">
      <p class="transition delay-150 hover:translate-x-4">Conoce más
        de nosotros ></p>
    </a>
  </div>
  <div class="dots-pattern">
    <img class="w-72 lg:w-[32rem] overflow-hidden" src="../../../assets/img/patterns/dots-pattern.svg"
      alt="dots-pattern">
  </div>
  <div data-aos="fade-down" class="hidden md:block mt-16">
    <img class="w-full" src="../../../assets/img/timeline/timeline.png" alt="rd-project">
  </div>
  <div data-aos="fade-down" class="block md:hidden mt-16 ml-8">
    <img src="../../../assets/img/timeline/timeline-mobile.png" alt="rd-project">
  </div>
</div>
