<div id="us" class="bg-gradient-to-b from-white via-gray-dark to-white px-16 py-32 relative h-[40rem]">
  <img class="circle-pattern w-96" src="../../../assets/img/patterns/circle-pattern.svg" alt="circle-pattern">
  <div class="pl-20 font-medium max-w-xl">
    <p class="text-xl pb-6">Somos una agencia de marketing conformada por asesores profesionales dispuestos a potenciar
      tu
      negocio. </p>
    <a class="text-yellow text-xl" href="">
      <p class="transition delay-150 hover:translate-x-4">Conoce más
        de nosotros ></p>
    </a>
  </div>
</div>
