<div class="video-container">
  <div class="title-section pt-48 pl-0 md:pt-48 md:pl-24">
    <h2 class="text-black font-bold max-w-[17rem] m-auto md:m-0 md:max-w-full md:text-left text-4xl md:text-5xl">
      Gestionamos y potenciamos tu marca.</h2>
  </div>
  <div class="dots-pattern">
    <img class="w-96 overflow-hidden" src="../../../assets/img/patterns/dots-pattern.svg" alt="dots-pattern">
  </div>
  <video autoplay loop [muted]="'muted'" playsinline>
    <source src='../../../assets/video/home-video-rd.webm' type="video/webm" />
    <source src="../../../assets/video/home-video-rd.webm" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
  </video>
</div>
