@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2af1b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9990c;
}

.swiper-button-prev,
.swiper-button-next {
  color: lightgray !important;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
