<footer class="bg-onyx text-white p-20">
  <div>
    LOGO
  </div>
  <div class="flex flex-row justify-around mb-20">
    <div>
      <p class="pb-2">+(051) 975 103 748</p>
      <p class="pb-2">Lun - Sáb
        9:00am - 6:00pm</p>
      <p class="pb-2">Santiago de Surco</p>
    </div>
    <div>
      <h5 class="font-medium pb-4">Sobre nosotros</h5>
      <p class="pb-2">Nosotros</p>
      <p class="pb-2">Contáctanos</p>
    </div>
    <div>
      <h5 class="font-medium pb-4">Servicios</h5>
      <p class="pb-2">Marketing digital</p>
      <p class="pb-2">Diseño web</p>
    </div>
  </div>
  <div class="flex justify-end">
    Copyright © 2023 RD Marketing
  </div>
</footer>
